
<md-card style="padding:0px" ng-init="vm.getParcels()">
  <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.selectedItems.length">
    <div class="md-toolbar-tools">
      <span>Parcels</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="vm.getParcels()">
        <md-icon>refresh</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedItems.length">
    <div class="md-toolbar-tools">
      <span>{{vm.selectedItems.length}} {{vm.selectedItems.length > 1 ? 'items' : 'item'}} selected</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="vm.deleteItems()">
        <md-icon style="color:#fff;">delete</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- exact table from live demo -->
  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selectedItems" md-progress="vm.promise">
      <thead md-head md-order="vm.dtConfig.order" md-on-reorder="vm.getParcels">
        <tr md-row>
          <th md-column md-order-by="name"><span>Nom du parcel</span></th>
          <th md-column md-order-by="bornAt"><span>Date de creation</span></th>
          <th md-column md-order-by="deathAt"><span>Date de suppression</span></th>
          <th md-column md-numeric>Etat</th>
          <th md-column md-numeric>Surface (m<sup>2</sup>)</th>
          <th md-column style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="parcel" md-select-id="name" md-auto-select ng-repeat="parcel in vm.parcels.rows">
          <td md-cell>{{parcel.name}}</td>
          <td md-cell>{{parcel.bornAtv| date:'mediumDate'}}</td>
          <td md-cell>{{parcel.deathAt | date:'mediumDate'}}</td>
          <td md-cell>{{parcel.state}}</td>
          <td md-cell>{{parcel.surfaceValue}}</td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="vm.edit(parcel.id)">
              <md-icon>edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.deleteItems(parcel.id)">
              <md-icon>delete</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.dtConfig.limit" md-limit-options="[5, 10, 15, 25, 50]" md-page="vm.dtConfig.page" md-total="{{vm.parcels.count}}" md-on-paginate="vm.getParcels" md-page-select></md-table-pagination>
</md-card>
