
<form name="vm.form.productForm"  ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
  <md-card>
    <md-card-content>
      <md-input-container class="md-block flex-gt-sm" flex-gt-sm="" md-require-match required>
        <label for="name">Name</label>
        <input ng-model="vm.product.name" class="md-input" name="name" id="name" aria-invalid="false" style="">
        <div ng-messages="vm.form.productForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Product name is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="description">Description</label>
        <textarea name="description" data-ng-model="vm.product.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Date de naissance:</label>
          <md-datepicker ng-model="vm.product.bornAt" name="bornAt" flex></md-datepicker>
          <div ng-messages="vm.form.productForm.bornAt.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Date de décès:</label>
          <md-datepicker ng-model="vm.product.deathAt" name="deathAt" flex></md-datepicker>
          <div ng-messages="vm.form.productForm.deathAt.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <div md-color-picker label="Choose a color" icon="brush" default="#f00" md-color-generic-palette="false" md-color-history="false" ng-model="vm.product.color"></div>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Poids minimale:</label>
          <input ng-model="vm.product.minWeight" class="md-input">
          <div ng-messages="vm.form.productForm.minWeight.$error" role="alert">
            <p class="help-block error-text" ng-message="required">le poid minimale est recommande.</p>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Poid maximale</label>
          <input ng-model="vm.product.maxWeight" class="md-input">
          <div ng-messages="vm.form.productForm.maxWeight.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Le poid maximale est recommande.</p>
          </div>
        </md-input-container>
        <md-select ng-model="vm.product.weightMeasureUnit" placeholder="Unite" class="md-no-underline">
          <md-option value="Mg">Mg</md-option>
          <md-option value="g">g</md-option>
          <md-option value="Kg">Kg</md-option>
          <md-option value="tone">Tone</md-option>
        </md-select>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Taille minimale:</label>
          <input ng-model="vm.product.minHeight" class="md-input">
          <div ng-messages="vm.form.productForm.minHeight.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La taille minimale est recommande.</p>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Taille maximale</label>
          <input ng-model="vm.product.maxHeight" class="md-input">
          <div ng-messages="vm.form.productForm.maxHeight.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La taille maximale est recommande.</p>
          </div>
        </md-input-container>
        <md-select ng-model="vm.product.heightMeasureUnit" placeholder="Unite" class="md-no-underline">
          <md-option value="mm">mm</md-option>
          <md-option value="cm">cm</md-option>
          <md-option value="m">m</md-option>
          <md-option value="km">km</md-option>
        </md-select>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Plante density surface:</label>
          <input ng-model="vm.product.plantDensitySurfaceValue" class="md-input">
          <div ng-messages="vm.form.productForm.platDensitySurfaceValue.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ce champs est recommande.</p>
          </div>
        </md-input-container>
        <md-select ng-model="vm.product.plantDensitySurfaceUnit" placeholder="Unite" class="md-no-underline">
          <md-option value="mm2">mm<sup>2</sup></md-option>
          <md-option value="cm2">cm<sup>2</sup></md-option>
          <md-option value="m2">m<sup>2</sup></md-option>
          <md-option value="km2">km<sup>2</sup></md-option>
        </md-select>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Plante density weight:</label>
          <input ng-model="vm.product.plantDensityWeightValue" class="md-input">
          <div ng-messages="vm.form.productForm.platDensityWeightValue.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ce champs est recommande.</p>
          </div>
        </md-input-container>
        <md-select ng-model="vm.product.plantDensityWeightUnit" placeholder="Unite" class="md-no-underline">
          <md-option value="mg">mg</md-option>
          <md-option value="g">g</md-option>
          <md-option value="kg">kg</md-option>
        </md-select>
      </div>
      <center>
        <md-button type="submit" class="md-primary">{{vm.product.id ? 'Update' : 'Create'}}</md-button>
      </center>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </md-card-content>
  </md-card>
</form>
