<section>
  <div class="page-header">
    <h1>
      Parcels
      <a class="btn btn-primary pull-right" data-ui-sref="admin.parcels.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="parcel in vm.parcels" data-ui-sref="admin.parcels.edit({parcelId: parcel.id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="parcel.createdAt | date:'mediumDate'"></span>
        by
        <span ng-if="parcel.user" ng-bind="parcel.user.displayName"></span>
        <span ng-if="!parcel.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="parcel.name"></h4>
      <p class="list-group-item-text" data-ng-bind="parcel.description"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="parcels.$resolved && !parcels.length">
    No parcels yet, why don't you <a data-ui-sref="admin.parcels.create">create one</a>?
  </div>
</section>
