<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <ui-view name="sidebar" layout="column" flex>
  </ui-view>
</md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
  <!--md-button class="md-icon-button md-button md-fab md-fab-bottom-right" aria-label="shortcut">
    <md-icon>add</md-icon>
  </md-button-->
  <md-fab-speed-dial style="left:20px!important" md-direction="top" md-open="isFabOpen" class="md-fab md-fab-bottom-right">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-icon-button md-button md-fab md-warn">
        <md-icon>apps</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="fullscreen" class="md-icon-button md-button md-fab md-raised md-mini">
        <md-tooltip md-direction="left" md-visible="true" md-autohide="true">fullscreen</md-tooltip>
        <md-icon aria-label="fullscreen">fullscreen</md-icon>
      </md-button>
      <md-button aria-label="add" class="md-icon-button md-button md-fab md-raised md-mini">
        <md-tooltip md-direction="left" md-visible="true" md-autohide="true">Add new project</md-tooltip>
        <md-icon aria-label="add">add</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
  <md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button md-button" ng-click="toggleSidenav('left')" aria-label="menu">
        <md-icon>menu</md-icon>
      </md-button>
      <h3>
        {{pageTitle}}
      </h3>
      <span flex></span>
      <md-button class="md-icon-button md-button" aria-label="Search" ng-click="showSearch = !showSearch">
        <md-icon>search</md-icon>
      </md-button>
      <md-button class="md-icon-button md-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="md-hue-1" ng-show="showSearch">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button md-button" ng-click="showSearch = !showSearch" aria-label="Back">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <h3 flex="10">
        Back
      </h3>
      <md-input-container style="align-self: baseline;" md-theme="input" flex>
        <label>enter search</label>
        <input ng-model="search.who">
      </md-input-container>
      <md-button aria-label="Search" ng-click="showSearch = !showSearch">
        <md-icon>search</md-icon>
      </md-button>
      <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill name="content">
    </ui-view>
  </md-content>
</div>
<!-- Angular Material Dependencies -->
