<section>
  <div class="page-header">
    <h1>{{vm.intervention.id ? 'Edit Intervention' : 'New Intervention'}}</h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.interventionForm" class="form-horizontal" ng-submit="vm.save(vm.form.interventionForm.$valid)" novalidate>
      <fieldset>
        <!--div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.product.name" id="name" class="form-control" placeholder="Product name" required>
          <div ng-messages="vm.form.productForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product name is required.</p>
          </div>
        </div-->
        <div class="form-group">
          <md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
            <label for="name">Name</label>
            <input ng-model="vm.intervention.name" class="md-input" name="name" id="name" aria-invalid="false" style="">
            <div ng-messages="vm.form.interventionForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Intervention name is required.</p>
            </div>
          </md-input-container>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Description</label>
          <textarea name="content" data-ng-model="vm.intervention.description" id="description" class="form-control" cols="30" rows="10" placeholder="Intervention description"></textarea>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="born_at">Start at</label>
          <input name="start_at" type="datetime-local" ng-model="vm.intervention.startAt" id="startAt" class="form-control" required>
          <div ng-messages="vm.form.interventionForm.startAt.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Intervention start date is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="death_at">End at</label>
          <input name="end_at" type="datetime-local" ng-model="vm.intervention.endAt" id="endAt" class="form-control">
          <div ng-messages="vm.form.interventionForm.deathAt.$error" role="alert">
            <p class="help-block error-text" ng-message="required"> Intervention end date is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="prescriptionNature">Prescription Nature</label>
          <select name="prescriptionNature" type="text" ng-model="vm.intervention.prescriptionNature" id="prescriptionNature" class="form-control">
            <option value="issus">Issus</option>
            <option value="observation">Observation</option>
            <option value="inspection">Inspection</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="prescriptionId">Prescription identifier</label>
          <input name="prescriptionId" type="text" ng-model="vm.intervention.prescriptionId" id="color" class="form-control">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.intervention.id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
