
<form name="vm.form.interventionNatureForm"  ng-submit="vm.save(vm.form.interventionNatureForm.$valid)" novalidate>
  <md-card>
    <md-card-content>
      <md-input-container class="md-block flex-gt-sm" flex-gt-sm="" md-require-match required>
        <label for="name">Name</label>
        <input ng-model="vm.interventionNature.name" class="md-input" name="name" id="name" aria-invalid="false" style="">
        <div ng-messages="vm.form.interventionNatureForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Intervention nature name is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="description">Description</label>
        <textarea name="description" data-ng-model="vm.interventionNature.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
      <center>
        <md-button type="submit" class="md-primary">{{vm.interventionNature.id ? 'Update' : 'Create'}}</md-button>
      </center>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </md-card-content>
  </md-card>
</form>
