
<form name="vm.form.interventionForm"  ng-submit="vm.save(vm.form.interventionForm.$valid)" novalidate>
  <md-card>
    <md-card-content>
      <md-input-container class="md-block flex-gt-sm" flex-gt-sm="" md-require-match required>
        <label for="name">Name</label>
        <input ng-model="vm.intervention.name" class="md-input" name="name" id="name" aria-invalid="false" style="">
        <div ng-messages="vm.form.interventionForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Intervention name is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="description">Description</label>
        <textarea name="description" data-ng-model="vm.intervention.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Date debut:</label>
          <md-datepicker ng-model="vm.intervention.bornAt" name="startAt" flex></md-datepicker>
          <div ng-messages="vm.form.interventionForm.startAt.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Date de fin:</label>
          <md-datepicker ng-model="vm.intervention.deathAt" name="endAt" flex></md-datepicker>
          <div ng-messages="vm.form.interventionForm.endAt.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>
      </div>
      <md-select ng-model="vm.intervention.prescriptionNature" placeholder="">
        <md-option value="observation">Observation</md-option>
        <md-option value="inspection">Inspection</md-option>
        <md-option value="issus">Issus</md-option>
        <md-option value="normal">Normale</md-option>
      </md-select>
      <md-autocomplete ng-show="vm.intervention.prescriptionNature !== 'normal'" flex md-input-name="autocompletePrescription" md-selected-item-change="vm.prescriptionChange(vm.intervention.prescription)" md-no-cache="vm.noCache" md-selected-item="vm.intervention.prescription" md-search-text="vm.searchPrescription" md-items="item in vm.prescriptionSearch(vm.searchPrescription)" md-item-text="item.name" md-require-match md-floating-label="Prescription">
        <md-item-template>
          <span md-highlight-text="vm.searchPrescription">{{item.name}}</span>
        </md-item-template>
        <div ng-messages="vm.form.interventionForm.autocompletePrescription.$error" ng-if="vm.form.interventionForm.autocompletePrescription.$touched">
          <div ng-message="md-require-match">Veuillez <b>choisir</b> l'origine de prescription.</div>
        </div>
      </md-autocomplete>
      <center>
        <md-button type="submit" class="md-primary">{{vm.intervention.id ? 'Update' : 'Create'}}</md-button>
      </center>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </md-card-content>
  </md-card>
</form>
