<form name="vm.form.projectForm"  ng-submit="vm.save(vm.form.projectForm.$valid)" novalidate>
  <md-card>
    <md-card-content>
      <div layout-gt-sm="row">
        <md-input-container class="md-block flex-gt-sm" flex-gt-sm="70" md-require-match required>
          <label for="name">Command reference</label>
          <input ng-model="vm.project.commandReference" class="md-input" name="name" id="name" aria-invalid="false" style="">
          <div ng-messages="vm.form.projectForm.commandReference.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Command reference is required.</p>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Planned at:</label>
          <md-datepicker ng-model="vm.project.clientPlannedAt" name="clientPlannedAt"></md-datepicker>
          <div ng-messages="vm.form.projectForm.clientPlannedAt.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Last delivery at:</label>
          <md-datepicker ng-model="vm.project.clientDeliveredAt" name="clientDeliveredAt"></md-datepicker>
          <div ng-messages="vm.form.projectForm.clientDeliveredAt.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block flex-gt-sm" flex-gt-sm="70" md-require-match required>
          <label for="name">Project name</label>
          <input ng-model="vm.project.name" class="md-input" name="name" id="name" aria-invalid="false" style="">
          <div ng-messages="vm.form.projectForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">name is required.</p>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Planned at:</label>
          <md-datepicker ng-model="vm.project.plannedAt" name="plannedAt"></md-datepicker>
          <div ng-messages="vm.form.projectForm.plannedAt.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Last delivery at:</label>
          <md-datepicker ng-model="vm.project.deliveredAt" name="deliveredAt"></md-datepicker>
          <div ng-messages="vm.form.projectForm.deliveredAt.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label for="description">Description</label>
        <textarea name="description" data-ng-model="vm.project.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="note">Note</label>
        <textarea name="note" data-ng-model="vm.project.note" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Client budget</label>
          <input ng-model="vm.project.clientBudget" class="md-input">
          <div ng-messages="vm.form.projectForm.clientBudget.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Client budget is required.</p>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Estimated budget</label>
          <input ng-model="vm.project.estimatedBudget" class="md-input">
          <div ng-messages="vm.form.projectForm.estimatedBudget.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Estimated budget is required.</p>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Budget</label>
          <input ng-model="vm.project.budget" class="md-input">
          <div ng-messages="vm.form.projectForm.budget.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Budget is required.</p>
          </div>
        </md-input-container>
      </div>
      <!--md-autocomplete flex required md-input-name="autocompleteManager"  md-selected-item-change="vm.managerChange(vm.activity.manager)" md-no-cache="vm.noCache" md-selected-item="vm.activity.manager" md-search-text="vm.searchManager" md-items="item in vm.managerSearch(vm.searchManager)" md-item-text="item.displayName" md-require-match md-floating-label="Gerant de l'activité">
        <md-item-template>
          <span md-highlight-text="vm.searchManager">{{item.displayName}}</span>
        </md-item-template>
        <div ng-messages="vm.form.activityForm.autocompleteManager.$error" ng-if="vm.form.activityForm.autocompleteManager.$touched">
          <div ng-message="required">Veuillez <b>choisir</b> un gerant pour cette activité.</div>
          <div ng-message="md-require-match">Veuillez <b>choisir</b> un gerant correcte.</div>
        </div>
      </md-autocomplete-->

      <center>
        <md-button type="submit" class="md-primary">{{vm.project.id ? 'Update' : 'Create'}}</md-button>
      </center>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </md-card-content>
  </md-card>
</form>
