<style>
  tr.fixed-header{
    position:fixed;
    top:128px;
    width:100%;
    background-color:rgb(250,250,250);
  }
  tr.fixed-header th{
    padding-top: 20px!important;
    padding-bottom: 15px!important;
  }
</style>
<!--md-card style="padding:0px" ng-init="vm.getProjects()" flex>
  <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.selectedItems.length">
    <div class="md-toolbar-tools">
      <span>Projects</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="vm.getProjects()">
        <md-icon>refresh</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedItems.length">
    <div class="md-toolbar-tools">
      <span>{{vm.selectedItems.length}} {{vm.selectedItems.length > 1 ? 'items' : 'item'}} selected</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="vm.deleteItems()">
        <md-icon style="color:#fff;">delete</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selectedItems" md-progress="vm.promise">
      <thead md-head md-order="vm.dtConfig.order" md-on-reorder="vm.getActivities">
        <tr md-row>
          <th md-column md-order-by="name"><span>Project name</span></th>
          <th md-column md-numeric><span>Command</span></th>
          <th md-column>Customer <span style="font-size:10px">(Date)</span></th>
          <th md-column>Manufactering <span style="font-size:10px">(Date)</span></th>
          <th md-column>Customer</th>
          <th md-column>Customer budget</th>
          <th md-column>Estimated budget</th>
          <th md-column>Real budget</th>
          <th md-column style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="project" md-select-id="name" md-auto-select ng-repeat="project in vm.projects.rows">
          <td md-cell>{{project.name}}</td>
          <td md-cell>{{project.commandReference}}</td>
          <td md-cell>{{project.clientPlannedAt | date: 'mediumDate' }} - {{project.clientDeliveredAt | date: 'mediumDate' }}</td>
          <td md-cell>{{project.plannedAt | date: 'mediumDate' }} - {{project.deliveredAt | date: 'mediumDate' }}</td>
          <td md-cell>{{project.customer}}</td>
          <td md-cell>{{project.clientBudget}}</td>
          <td md-cell>{{project.estimatedBudget}}</td>
          <td md-cell>{{project.budget}}</td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="vm.edit(project.id)">
              <md-icon>edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.deleteItems(project.id)">
              <md-icon>delete</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="vm.dtConfig.limit" md-limit-options="[5, 10, 15, 25, 50]" md-page="vm.dtConfig.page" md-total="{{vm.projects.count}}" md-on-paginate="vm.getProjects" md-page-select></md-table-pagination>
</md-card-->

<div style="padding:0px;position:relative" ng-init="vm.getProjects()" layout="column" flex>
  <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.selectedItems.length">
    <div class="md-toolbar-tools">
      <span>Projects list</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="vm.toggleSearch()">
        <md-icon ng-show="!vm.dtConfig.filterState">filter_list</md-icon>
        <md-icon ng-show="vm.dtConfig.filterState">first_page</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="vm.getProjects()">
        <md-icon>refresh</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedItems.length">
    <div class="md-toolbar-tools">
      <span>{{vm.selectedItems.length}} {{vm.selectedItems.length > 1 ? 'items' : 'item'}} selected</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="vm.deleteItems()">
        <md-icon style="color:#fff;">delete</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="md-table-toolbar md-default" ng-show="vm.dtConfig.filterState">
    <div class="md-toolbar-tools">
      <md-input-container style="align-self: baseline;" md-theme="input" ng-keyup="vm.getProjects()" flex>
        <label>enter search</label>
        <input ng-model="vm.dtConfig.filterKey">
      </md-input-container>
      <md-icon>search</md-icon>
    </div>
  </md-toolbar>
  <md-table-container flex>
    <table md-table md-row-select multiple ng-model="vm.selectedItems" md-progress="vm.promise" style="position:relative">
      <thead md-head md-order="vm.dtConfig.order" md-on-reorder="vm.getActivities" fix-head>
        <tr md-row>
          <th md-column md-order-by="name" hide-md><span>Project name</span></th>
          <th md-column md-numeric><span>Command</span></th>
          <th md-column hide-md>Customer <span style="font-size:10px">(Date)</span></th>
          <th md-column>Manufactering <span style="font-size:10px">(Date)</span></th>
          <th md-column>Customer</th>
          <th md-column>Customer budget</th>
          <th md-column>Estimated budget</th>
          <th md-column>Real budget</th>
          <th md-column style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="project" md-select-id="name" md-auto-select ng-repeat="project in vm.projects.rows">
          <td md-cell hide-md  width="25px">{{project.name}}</td>
          <td md-cell>{{project.commandReference}}</td>
          <td md-cell hide-md>{{project.clientPlannedAt | date: 'mediumDate' }} - {{project.clientDeliveredAt | date: 'mediumDate' }}</td>
          <td md-cell>{{project.plannedAt | date: 'mediumDate' }} - {{project.deliveredAt | date: 'mediumDate' }}</td>
          <td md-cell>{{project.customer}}</td>
          <td md-cell>{{project.clientBudget}}</td>
          <td md-cell>{{project.estimatedBudget}}</td>
          <td md-cell>{{project.budget}}</td>
          <td md-cell>
            <md-button class="md-icon-button md-mini" ng-click="vm.edit(project.id)">
              <md-icon>edit</md-icon>
            </md-button>
            <md-button class="md-icon-button md-mini" ng-click="vm.deleteItems(project.id)">
              <md-icon>delete</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <!--div style="bottom:0px;position:fixed;width:100%;background-color:rgb(250,250,250)" flex-->
  <md-toolbar class="md-table-toolbar md-default">
    <md-table-pagination md-limit="vm.dtConfig.limit" md-limit-options="[5, 10, 15, 25, 50]" md-page="vm.dtConfig.page" md-total="{{vm.projects.count}}" md-on-paginate="vm.getProjects" md-page-select></md-table-pagination>
  </md-toolbar>
  <!--/div-->
</div>
<!-- fab button action -->
<md-fab-speed-dial md-direction="up" md-open="false" class="md-fab md-fab-bottom-left md-fling" ng-cloak>
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-icon-button md-button md-fab md-warn">
      <md-tooltip md-visible="false" md-direction="right">
        Shortcut
      </md-tooltip>
      <md-icon>apps</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="fullscreen" class="md-fab md-raised md-mini">
      <md-tooltip md-visible="false" md-direction="right">
        Fullscreen
      </md-tooltip>
      <md-icon aria-label="fullscreen">fullscreen</md-icon>
    </md-button>
    <md-button aria-label="add" class="md-fab md-raised md-mini">
      <md-tooltip md-visible="false" md-direction="right">
        Add new project
      </md-tooltip>
      <md-icon aria-label="add">add</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
