<section>
  <div class="page-header">
    <h1>
      Interventions
      <a class="btn btn-primary pull-right" data-ui-sref="admin.interventions.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="intervention in vm.interventions" data-ui-sref="admin.interventions.edit({interventionId: intervention.id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="intervention.createdAt | date:'mediumDate'"></span>
        by
        <span ng-if="intervention.user" ng-bind="intervention.user.displayName"></span>
        <span ng-if="!intervention.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="intervention.name"></h4>
      <p class="list-group-item-text" data-ng-bind="intervention.description"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="interventions.$resolved && !interventions.length">
    No interventions yet, why don't you <a data-ui-sref="admin.interventions.create">create one</a>?
  </div>
</section>
