<section>
  <div class="page-header">
    <h1>Intervention Natures</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="interventionNature in vm.interventionNatures" ui-sref="interventionNatures.view({ interventionNatureId: interventionNature.id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="interventionNature.createdAt | date:'mediumDate'"></span>
        by
        <span ng-if="interventionNature.user" ng-bind="interventionNature.user.displayName"></span>
        <span ng-if="!interventionNature.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="interventionNature.name"></h4>
      <p class="list-group-item-text" ng-bind="interventionNature.description"></p>
    </a>
  </div>
</section>
