<section>
  <div class="page-header">
    <h1>{{vm.product.id ? 'Edit Product' : 'New Product'}}</h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
      <fieldset>
        <!--div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.product.name" id="name" class="form-control" placeholder="Product name" required>
          <div ng-messages="vm.form.productForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product name is required.</p>
          </div>
        </div-->
        <div class="form-group">
          <md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
            <label for="name">Name</label>
            <input ng-model="vm.product.name" class="md-input" name="name" id="name" aria-invalid="false" style="">
            <div ng-messages="vm.form.productForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Product name is required.</p>
            </div>
          </md-input-container>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Description</label>
          <textarea name="content" data-ng-model="vm.product.description" id="description" class="form-control" cols="30" rows="10" placeholder="Product description"></textarea>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="born_at">Born at</label>
          <input name="born_at" type="datetime-local" ng-model="vm.product.bornAt" id="bornAt" class="form-control" required>
          <div ng-messages="vm.form.productForm.bornAt.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product born is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="death_at">Death at</label>
          <input name="death_at" type="datetime-local" ng-model="vm.product.deathAt" id="deathAt" class="form-control">
          <div ng-messages="vm.form.productForm.deathAt.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product death is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="color">Color</label>
          <input name="color" type="text" ng-model="vm.product.color" id="color" class="form-control">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="minWeight">Weight measure</label>
          <div class="row">
            <div class="col-xs-4">
              <input name="minWeight" type="text" ng-model="vm.product.minWeight" id="minWeight" class="form-control">
            </div>
            <div class="col-xs-4">
              <input name="maxWeight" type="text" ng-model="vm.product.maxWeight" id="maxWeight" class="form-control">
            </div>
            <div class="col-xs-4">
              <select name="weightMeasureUnit" type="text" ng-model="vm.product.weightMeasureUnit" id="weightMeasureUnit" class="form-control">
                <option value="mg">mg</option>
                <option value="g">g</option>
                <option value="kg">kg</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="minHeight">Height measure</label>
          <div class="row">
            <div class="col-xs-4">
              <input name="minHeight" type="text" ng-model="vm.product.minHeight" id="minHeight" class="form-control">
            </div>
            <div class="col-xs-4">
              <input name="maxHeight" type="text" ng-model="vm.product.maxHeight" id="maxHeight" class="form-control">
            </div>
            <div class="col-xs-4">
              <select name="heightMeasureUnit" type="text" ng-model="vm.product.heightMeasureUnit" id="heightMeasureUnit" class="form-control">
                <option value="mm">mm</option>
                <option value="cm">cm</option>
                <option value="m">m</option>
                <option value="km">km</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="plantDensitySurfaceValue">Plant Density Surface</label>
          <div class="row">
            <div class="col-xs-6">
              <input name="plantDensitySurfaceValue" type="text" ng-model="vm.product.plantDensitySurfaceValue" id="plantDensitySurfaceValue" class="form-control">
            </div>
            <div class="col-xs-6">
              <select name="plantDensitySurfaceUnit" type="text" ng-model="vm.product.plantDensitySurfaceUnit" id="plantDensitySurfaceUnit" class="form-control">
                <option value="mm">mm</option>
                <option value="cm">cm</option>
                <option value="m">m</option>
                <option value="km">km</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="plantDensityWeightValue">Plant Density Weight</label>
          <div class="row">
            <div class="col-xs-6">
              <input name="plantDensityWeightValue" type="text" ng-model="vm.product.plantDensityWeightValue" id="plantDensityWeightValue" class="form-control">
            </div>
            <div class="col-xs-6">
              <select name="plantDensityWeightUnit" type="text" ng-model="vm.product.plantDensityWeightUnit" id="plantDensityWeightUnit" class="form-control">
                <option value="mm">mm</option>
                <option value="cm">cm</option>
                <option value="m">m</option>
                <option value="km">km</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.product.id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
